@inject IViewLocalizer Localizer
<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@Localizer["AddEditProduct"] </h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <input type="hidden" id="hidProductId" value="" />
                    <input type="hidden" id="hidInsertProduct" value="" />
                    <input type="hidden" id="hidInsertProductQuantities" value="" />
                    <input type="hidden" id="hidInsertWholePrice" value="" />
                    <input type="hidden" id="hidImageProduct" value="" />

                    <form class="form-horizontal" role="form" id="frmMaintainanceAddEdit">
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">@Localizer["CorporationName"] <a style="color:red"> (*)</a> </label>
                            <div class="col-sm-10">
                                <select id="ddlAddEditCorporation" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">@Localizer["CatalogName"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-10">
                                <select id="ddlAddEditCategories" class="form-control" name="ddlAddEditCategories" style="width:200px"> </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbAddEditName" class="col-sm-2 control-label no-padding-right">@Localizer["Name"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-10">
                                <input type="text" name="txtAddEditName" class="form-control" id="txtAddEditName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbAddEditDescription" class="col-sm-2 control-label no-padding-right">@Localizer["Description"]</label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="txtAddEditDescription" class="form-control" id="txtAddEditDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbAddEditUnit" class="col-sm-2 control-label no-padding-right">@Localizer["Unit"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-3">
                                <select id="ddlAddEditUnit" class="form-control" name="ddlAddEditUnit"> </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">@Localizer["SalePrice"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-2">
                                <input type="text" name="txtSalePrice" class="form-control" id="txtSalePrice">
                            </div>
                            <label class="col-sm-2 control-label">@Localizer["OriginalPrice"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-2">
                                <input type="text" name="txtOriginalPrice" class="form-control" id="txtOriginalPrice">
                            </div>
                            <label class="col-sm-2 control-label">@Localizer["PromotionPrice"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-2">
                                <input type="text" name="txtPromotionPrice" class="form-control" id="txtPromotionPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbAddEditImage" class="col-sm-2 control-label no-padding-right">@Localizer["Image"]  </label>
                            <div class="col-xs-9 form-group has-feedback">
                                <div id="imagelistImageProduct" class="col-xs-9">
                                </div>
                                <div class="col-xs-9"><input type="file" id="fileInputImageProduct" /></div>
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label for="txtImageM" class="col-sm-2 control-label no-padding-right">Image</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                    <input type="file" id="fileInputImage" style="display:none" />
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSelectImg" class="btn btn-default" value="Browser" />
                                    </span>
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label for="lbAddEditContent" class="col-sm-2 control-label no-padding-right">@Localizer["Content"] <a style="color:red"> (*)</a></label>
                            <div class="col-sm-10">
                                <textarea id="txtAddEditContent" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSeoTitle" class="col-sm-2 control-label no-padding-right">@Localizer["SeoTitle"]</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtSeoTitle" class="form-control" id="txtSeoTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSeoAlias" class="col-sm-2 control-label no-padding-right">@Localizer["SeoAlias"]</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtSeoAlias" class="form-control" id="txtSeoAlias">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSeoKeyword" class="col-sm-2 control-label no-padding-right">@Localizer["SeoKeyword"]</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtSeoKeyword" class="form-control" id="txtSeoKeyword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSeoDescription" class="col-sm-2 control-label no-padding-right">@Localizer["SeoDescription"]</label>
                            <div class="col-sm-10">
                                <textarea rows="3" name="txtSeoDescription" class="form-control" id="txtSeoDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbSeoTag" class="col-sm-2 control-label no-padding-right">@Localizer["SeoTag"]</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtSeoTag" class="form-control" id="txtSeoTag">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div>
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckAddEditActive">
                                        <span class="text">@Localizer["IsActive"]</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" id="ckAddEditHot">
                                        <span class="text">@Localizer["HotProduct"]</span>
                                    </label>

                                    <label>
                                        <input type="checkbox" checked="checked" id="ckAddEditHome">
                                        <span class="text">@Localizer["HomeProduct"]</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnAddEditSave" class="btn btn-success">@Localizer["Save"]</button>
                                <button type="button" id="btnAddEditCancel" data-dismiss="modal" class="btn btn-danger">@Localizer["Cance"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>