@inject IViewLocalizer Localizer
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-12">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="/cshop-side/images/footer-loginiti.png" alt="fotter logo">                   
                    </a> 
                </div>
                <p>Chuyên cung cấp sĩ và lẽ các mặt hàng gia dụng.</p>
                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com"><i class="fa fa-google"></i></a></li>
                        <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">@Localizer["Information"]<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    <div class="tabBlock" id="TabBlock-1">
                        <ul class="list-links list-unstyled">                           
                            <li><a href="#">@Localizer["Discount"]</a></li>                           
                            <li><a href="#">@Localizer["PrivacyPolicy"]</a></li>
                            <li><a href="faq.html">@Localizer["FAQs"]</a></li>                     
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">@Localizer["Linke"]<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                    <div class="tabBlock" id="TabBlock-3">
                        <ul class="list-links list-unstyled">
                            <li><a href="sitemap.html"> @Localizer["SiteMap"]</a></li>
                            <li><a href="#">@Localizer["News"]</a></li>                     
                            <li><a href="about_us.html">@Localizer["AboutUs"]</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">@Localizer["Service"]<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                    <div class="tabBlock" id="TabBlock-4">
                        <ul class="list-links list-unstyled">
                            <li><a href="account_page.html">@Localizer["Account"]</a></li>
                            @*<li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="shopping_cart.html">Shopping Cart</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Lookbook</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">@Localizer["WorkingHours"]<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                    <div class="tabBlock" id="TabBlock-5">
                        <div class="footer-description">@Localizer["WorkingAddress"]</div>
                        <div class="footer-description">
                            <b>@Localizer["WorkingDays"]</b> @Localizer["WorkingTimes"] <br>
                            <b>@Localizer["WorkingSaturday"]</b> @Localizer["WorkingSaturdayTimes"]<br>
                            <b>@Localizer["WorkingSunday"]</b> @Localizer["Closed"] 
                        </div>
                        <div class="payment" >
                            <ul>
                                <li><a href="#"><img title="Visa" alt="Visa" src="/clientshop-side/images/visa.png"></a></li>
                                <li><a href="#"><img title="Paypal" alt="Paypal" src="/clientshop-side/images/paypal.png"></a></li>
                                <li><a href="#"><img title="Discover" alt="Discover" src="/clientshop-side/images/discover.png"></a></li>
                                <li><a href="#"><img title="Master Card" alt="Master Card" src="/clientshop-side/images/master-card.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 <a href="#"> NiTiMart </a>. All Rights Reserved. </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="footer-company-links">
                        <li> <a href="about_us.html"> @Localizer["AboutNiTiMart"]</a> </li>
                        <li> <a href="#"> @Localizer["Careers"]</a> </li>
                        <li> <a href="#">@Localizer["PrivacyPolicy"]</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>

<!-- End Footer -->