@{ Layout = null; }
@using Microsoft.AspNetCore.Http;

@using DevExpress.AspNetCore
@using DevExpress.XtraReports.UI;
@using DevExpress.XtraReports.Parameters;

@using NiTiErp.Reports.DichVuNuoc;
@using NiTiErp.Helpers

@using NiTiErp.Application.Dapper.ViewModels

@namespace NiTiErp.Pages

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/admin-side/images/powaco.ico" />

    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/thirdparty.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
    <link rel="stylesheet" href="~/css/designer.part.bundle.css" />

    <script src="~/js/viewer.part.bundle.js"></script>
    <script src="~/js/designer.part.bundle.js"></script>

    @{ 
        List<TTDangKyFileViewModel> dangkyfile = SessionHelper.GetObjectFromJson<List<TTDangKyFileViewModel>>(Context.Session, "ttdmdangkyfiledvnuoc");

                    var dien = new repDichVuNuoc();
                    dien.DataSource = dangkyfile;


                    dien.Parameters["prTenXiNghiep"].Value = @Context.Session.GetString("TenXiNghiepDVNuoc");
                    dien.Parameters["prTenXiNghiep"].Visible = false;
                    dien.Parameters["prHoten"].Value = @Context.Session.GetString("HotenDVNuoc");
                    dien.Parameters["prHoten"].Visible = false;
                    dien.Parameters["prSoCMND"].Value = @Context.Session.GetString("SoCMNDDVNuoc");
                    dien.Parameters["prSoCMND"].Visible = false;
                    dien.Parameters["prNgayCap"].Value = @Context.Session.GetString("NgayCapDVNuoc");
                    dien.Parameters["prNgayCap"].Visible = false;
                    dien.Parameters["prNoiCap"].Value = @Context.Session.GetString("NoiCapDVNuoc");
                    dien.Parameters["prNoiCap"].Visible = false;
                    dien.Parameters["prDiaChi"].Value = @Context.Session.GetString("DiaChiDVNuoc");
                    dien.Parameters["prDiaChi"].Visible = false;
                    dien.Parameters["prDienThoai"].Value = @Context.Session.GetString("DienThoaiDVNuoc");
                    dien.Parameters["prDienThoai"].Visible = false;

                    dien.Parameters["prdvThayDoiViTri"].Value = @Context.Session.GetString("dvThayDoiViTriDVNuoc");
                    dien.Parameters["prdvThayDoiViTri"].Visible = false;
                    dien.Parameters["prdvThayDoiMDSD"].Value = @Context.Session.GetString("dvThayDoiMDSDDVNuoc");
                    dien.Parameters["prdvThayDoiMDSD"].Visible = false;
                    dien.Parameters["prdvThayDoiDMSD"].Value = @Context.Session.GetString("dvThayDoiDMSDDVNuoc");
                    dien.Parameters["prdvThayDoiDMSD"].Visible = false;
                    dien.Parameters["prdvThayDoiHopDong"].Value = @Context.Session.GetString("dvThayDoiHopDongDVNuoc");
                    dien.Parameters["prdvThayDoiHopDong"].Visible = false;
                    dien.Parameters["prdvKiemTraDongHo"].Value = @Context.Session.GetString("dvKiemTraDongHoDVNuoc");
                    dien.Parameters["prdvKiemTraDongHo"].Visible = false; }

    <div class="container-fluid body-content">
        @Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("1000px").Bind(dien)
    </div>




</body>
</html>