
@{
    ViewData["Title"] = "User List";
}
@inject IViewLocalizer Localizer
@section Scripts{
    <script src="~/admin-app/controllers/appuser/editpass.js" asp-append-version="true"></script>
    <script src="~/admin-app/controllers/appuser/addedit-user.js" asp-append-version="true"></script>
    <script src="~/admin-app/controllers/appuser/index.js" asp-append-version="true"></script>
    <script>
        var appuser = new appuserController();
        appuser.initialize();
    </script>
}
@section Styles{

}
<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Localizer["Users"]</h3>
        </div>
        <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-round btn-success" id="btn-create" type="button">@Localizer["Create"]</button>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="title_left">
            <h3>  <small>@Localizer["ListUser"]</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" id="txt-search-keyword" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btn-search" type="button">@Localizer["Search"]</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <select id="ddlCorporation" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <input type="hidden" id="hidUserId" value="" />
    <input type="hidden" id="hidInsertUser" value="" />
    <input type="hidden" id="hidAvatarUser" value="" />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table id="tbl-User" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Localizer["UserName"]</th>
                                <th>@Localizer["FullName"]</th>
                                <th>@Localizer["CorporationName"]</th>
                                <th>@Localizer["Avatar"]</th>
                                <th>@Localizer["Status"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbl-contentUser"></tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddl-show-pageUser">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    @Localizer["RowPage"]
                                </span>
                                @Localizer["Toltal"] <strong id="lbl-total-recordsUser"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                <ul id="paginationULUser"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="table-templateUser" type="x-tmpl-mustache">
        <tr>
            <td>{{UserName}}</td>
            <td>{{FullName}}</td>
            <td>{{CorporationName}}</td>
            <td>{{{Avatar}}}</td>
            <td>{{{Status}}}</td>
            <td>
                <a href="#" data-id="{{Id}}" class="btn-edit"><i class="fa fa-pencil-square-o" style="color:#5cb85c;font-size:large"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" data-id="{{Id}}" class="btn-editpass"><i class="fa fa-key" style="color:orange;font-size:large"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" data-id="{{Id}}" class="btn-delete"><i class="fa fa-trash-o" style="color:orangered;font-size:large"></i></a>
            </td>
        </tr>
    </script>
</div>
<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox">
        <label>
            <input type="checkbox" {{Checked}} value="{{Name}}" name="ckRoles">
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>

<Partial name="_AddEditModal.cshtml" />
<Partial name="_EditPassword.cshtml" />